<p>Dear Musafir,</p>
</br>
<p>Thank you for your interest in joining the 3Musafir community. We're excited to have you on board!</p>
<p>Here is your temporary password: {{password}}</p>
<p>Please use this password to log in and verify your email address as soon as possible to complete your account setup. If you have any questions or need assistance, feel free to reach out.</p>
<p>We appreciate your support and look forward to exploring new horizons with you!</p>
</br>
<p>Best regards,</p>
<p>The 3Musafir Team</p>
