<p>Dear {{fullName}},</p>
</br>
<p>Great news! Your 3Musafir account has been successfully verified.</p>
<p>You can now access all the features and benefits of our platform. We're excited to have you as part of our community!</p>
<p>If you have any questions or need assistance, feel free to reach out to our support team.</p>
</br>
<p>Best regards,</p>
<p>The 3Musafir Team</p>
